.cities{
    height: 100vh;
    width: 100vw;
    background-image: url("https://media.istockphoto.com/id/509242466/vector/india-vector-illustration.jpg?s=612x612&w=0&k=20&c=BRQFcFkPz0a5kN1cdOSpaLA9U1Z3CEAqjNFDhV8cmk0=");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -25px;

}
.cities h1{
    margin-left: 37%;
}
.cities input{
    height: 40px;
    width: 60%;
    border-radius: 30px;
    border: 2px solid black;
    outline: none;
    margin-top: 16%;
    margin-left: 15%;
}
.cities button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}