html{
    box-sizing: border-box;
    /* background: #ffc600; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
}
body{
    margin: 0px;
}
*,*:before,*:after{
    box-sizing: inherit;
}
.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.panel{
    background: #6B0F9C;
    color: white;
    text-align: center;
    align-items: center;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    transition:
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.panel1{
    background-image: url("https://media.istockphoto.com/id/1300384615/photo/string-light-bulbs-at-sunset.jpg?b=1&s=170667a&w=0&k=20&c=oOP8uhg5T3y9Zw-jjzQnLwpJ2qeq6H_SdhdNP-iYsPM=");
}
.panel2{
    background-image: url("https://media.istockphoto.com/id/1298508477/photo/dark-empty-room-with-lamp-shade-potted-plant-and-parquet-floor-blank-wall-mock-up.jpg?b=1&s=170667a&w=0&k=20&c=4s7dfP9-3ImmAW1xQApAVx2Nvg0EuoZup4cRKbQk-Zw=");
}
.panel3{
    background-image: url("https://images.unsplash.com/photo-1557784873-df9d3dcdf936?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
}
.panel4{
    background-image: url("https://images.unsplash.com/photo-1549778399-f94fd24d4697?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
}
.panel5{
    background-image: url("https://images.unsplash.com/photo-1533150783171-ce47d5c2b6ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2FsbHBhcGVyJTIwaGR8ZW58MHx8MHx8&w=1000&q=80");
}
.panel >*{
margin: 0;
width: 100%;
transition: transform 0.5s;
flex:  1 0 auto;
display: flex;
justify-content: center;
align-items: center;
} 
.panel >*:first-child{
    transform: translateY(-100%);
}
.panel.open-active >*:first-child{
    transform: translateY(0);
}
.panel >*:last-child{
    transform: translateY(100%);
}
.panel.open-active >*:last-child{
    transform: translateY(0);
}
.panel p{
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 0 4px rgba(0,0,0,0.72),0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
.panel p:nth-child(2){
    font-size: 4em;
}
.panel.open{
    flex: 3;
    transition: 1.5s;
    transition-property: unset;

}
.cta{
    color: white;
    text-decoration: none;
}